.dark{ 
   background-color: rgb(58, 58, 58); 
   color: #e6e6e6; 
}
.dark h1, .dark h3 {
 color: #fff
}
.theme-switch-wrapper{
   display: flex;
   align-items: center;  
   float: right;                      
}        
.theme-switch{
   display: inline-block;
   height: 34px;
   position: relative;
   width: 60px;
   text-align: right;
}
.theme-switch input{
   display:none;
}
.slider{
   background-color: #ccc;
   bottom: 0;
   cursor: pointer;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   transition: .4s;
}
.slider:before{
   background-color: #fff;
   bottom: 4px;
   content: "";
   height: 26px;
   left: 4px;
   position: absolute;
   transition: .4s;
   width: 26px;
}

.hide{
   display: none;
}

input:checked + .slider{
   background-color: #66bb6a;
}
input:checked + .slider:before{
   transform: translateX(26px);
}
.slider.round{
   border-radius: 34px;
}
.slider.round:before{
   border-radius: 50%;
}